@font-face {
    font-family: 'AirbnbMedium';
    src: url("./src/fonts/AirbnbCerealMedium.ttf");
}

@font-face {
    font-family: 'AirbnbLight';
    src: url("./src/fonts/AirbnbCerealLight.ttf");
}

@font-face {
    font-family: 'AirbnbBook';
    src: url("./src/fonts/AirbnbCerealBook.ttf");
}

@font-face {
    font-family: 'AirbnbBold';
    src: url("./src/fonts/AirbnbCerealBold.ttf");
}

@font-face {
    font-family: 'AirbnbExtraBold';
    src: url("./src/fonts/AirbnbCerealExtraBold.ttf");
}

@font-face {
    font-family: 'AirbnbBlack';
    src: url("./src/fonts/AirbnbCerealBlack.ttf");
}

.top-image {
    height: 560px;
    background-image: url('https://a0.muscache.com/im/pictures/ddc7f01f-3fb3-483c-87e6-701dad52c930.jpg?im_w=2560');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
}

.top-bar {
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
}

.top-menu {
    flex: 1;
}

.rbnb-logo {
    margin-left:  80px;
    margin-top: 120px;
}

.menu-center {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.menu-center-item {
    font-family: 'AirbnbLight';
    font-weight: 500;
    font-size: 17px;
}

.menu-center-item:hover {
    color: #ffffff;
    text-decoration: underline;
    cursor: pointer;
}

.menu-social {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.menu-button {
    background: transparent;
    color: black;
    font-family: 'AirbnbLight';
    border: none;
    padding: 12px 20px;
    border-radius: 20px;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
}

.menu-button:hover {
    background: #f7f7f7;
}

.globe {
    background: transparent;
    border: none;
    color: black;
    border-radius: 50%;
    padding: 10px;
    cursor: pointer;
    align-items: center;
    size: 50%;
}

.globe:hover {
    background: #f7f7f7;

}

.globe-size {
    font-size: 20px;
}

.menu-icon {
    background: transparent;
    border-radius: 20px;
    cursor: pointer;
    border: none;
    padding: 8px 10px;
}

.menu-icon:hover {
    background: #f7f7f7;
}

.searches {
    height: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search {
    height: 100%;
    background: white;
    border-radius: 40px;
    border: 0;
    width: 60%;
    display: flex;
    align-items: center;
}

.search-01 {
    flex: 2.3;
    display: flex;
    flex-direction: column;
    margin-left: 30px;
    cursor: pointer;
}

.search-01:hover {
    background: #f7f7f7;
}

.search-02 {
    flex: 1;
    display: flex;
    flex-direction: column;
    margin-left: 30px;
    cursor: pointer;
}

.search-02:hover {
    background: #f7f7f7;
}

.search-03 {
    flex: 1;
    display: flex;
    flex-direction: column;
    margin-left: 30px;
    cursor: pointer;
}

.search-03:hover {
    background: #f7f7f7;
}

.search-04 {
    flex: 2;
    display: flex;
    flex-direction: row;
    margin-left: 30px;
    align-items: center;
}

.search-txt-01 {
    font-family: 'AirbnbLight';
    font-weight: 600;
    font-size: 16px;
    margin-bottom: 0.25rem;
}

.search-txt-02 {
    font-family: 'AirbnbLight';
    font-size: 14px;
    color: #717171;
}

.search-04-base {
    display: flex;
    flex-direction: column;
}

.search-04-base:hover {
    background: #f7f7f7;
    cursor: pointer;
}

.separator {
    position: absolute;
    height: 35px;
    width: 2px;
    background: #bcbcbc;
    margin-left: 345px;
    border-radius: 3px;
}

.separator2 {
    position: absolute;
    height: 35px;
    width: 2px;
    background: #bcbcbc;
    margin-left: 150px;
    border-radius: 3px;
}

.search-button {
    background: rgb(227, 27, 96);
    border: 0;
    border-radius: 50%;
    padding: 10px;
    outline: none;
    width: 50px;
    height: 50px;
    cursor: pointer;
    display: flex;
    margin-left: 148px;
}

.search-button:hover {
    background: rgb(199, 21, 77);
}

.search-button-base {
    display: flex;
    justify-content: flex-end;
}


.text {
    font-size: 60px;
    font-family: 'AirbnbBold';
    color: black;
    margin-left: 80px;
    margin-top: 40px;
}

.text-second {
    margin-top: -10px;
}

.hero-sub {
    font-size: 20px;
    font-family: 'AirbnbLight';
    color: black;
    margin-left: 80px;
    margin-top: -15px;
}

.hero-button {
    background: rgb(227, 27, 96);
    border: 0;
    border-radius: 10px;
    padding: 12px 20px;
    outline: none;
    cursor: pointer;
    font-family: 'AirbnbLight';
    font-size: 14px;
    font-weight: 600;
    color: white;
    margin-left: 80px;
}

.hero-button:hover {
    background: rgb(199, 21, 77);
}

.places-div {
    margin-top: 12rem;
    margin-left: 80px;
}

.places-title {
    font-size: 40px;
    font-family: 'AirbnbBold';
    color: black;
}

.places-item {
    display: flex;
    margin-top: 20px;
    align-items: center;
    flex: 1;
    cursor: pointer;
}

.places-image {
    flex: 1;
    width: 85px;
    height: 85px;
}

.places-text {
    flex: 3;
    margin-left: 20px;
}

.local {
    font-size: 18px;
    font-family: 'AirbnbMedium';
    font-weight: 400;
}

.local-sub {
    font-size: 14px;
    font-family: 'AirbnbLight';
    color: #3c3c3c;
    font-size: 18px;
    margin-top: 4px;

}

.living-title {
    font-size: 40px;
    font-family: 'AirbnbBold';
    color: black;
}

.living {
    margin-left: 80px;
    margin-top: 50px;
}
.living-places {
    display: flex;
    margin-top: 20px;
    margin-right: 40px;
}

.living-image {
    flex: 1;
    width: 375px;
    height: 375px;
    border: 0;
    border-radius: 5px;
}

.living-item {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.living-text {
    margin-top: 10px;
    font-family: 'AirbnbLight';
    font-size: 20px;
    font-weight: 900;
}

.living-image-01 {
    flex: 1;
    width: 375px;
    min-height: 375px;
    border-radius: 5px;
    background-image: url(./src/images/As-casas-de-campo-com-varanda-ao-redor-se-conectam-diretamente-com-a-natureza-do-entorno.-Fonte-Revista-Viva-Decora.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.living-image-02 {
    flex: 1;
    width: 375px;
    min-height: 375px;
    border-radius: 5px;
    background-image: url(./src/images/Casa-no-Enseada-Lagos-de-Xangri-La-de-Alto-Padrao.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.living-image-03 {
    flex: 1;
    width: 375px;
    min-height: 375px;
    border-radius: 5px;
    background-image: url(./src/images/casa-contemporanea-elegante-ao-entardecer_190619-4533.avif);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.living-image-04 {
    flex: 1;
    width: 375px;
    min-height: 375px;
    border-radius: 5px;
    background-image: url(./src/images/Cachorro-no-sofa-foto-de-aliaksandrbarysenka-1024x1024.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.banner {
    margin-top: 100px;
    margin-right: 80px;
    border: 0;
    border-radius: 10px;
    background-image: url('./src/images/become-a-host.jpg');
    background-repeat: no-repeat;
    height: 525px;
}

.banner-text {
    margin-left: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.banner-title {
    font-size: 60px;
    font-family: 'AirbnbBold';
    color: white;
    justify-content: center;
    margin-top: 100px;
}

.banner-sub {
    font-size: 20px;
    font-family: 'AirbnbLight';
    color: white;
}

.banner-button {
    background: rgb(227, 27, 96);
    border: 0;
    border-radius: 10px;
    padding: 12px 20px;
    width: 170px;
    outline: none;
    cursor: pointer;
    font-family: 'AirbnbLight';
    font-size: 22px;
    color: white;
    font-weight: 600;
    margin-top: 20px;
}

.banner-title-2 {
    font-size: 60px;
    font-family: 'AirbnbBold';
    color: white;
    justify-content: center;
    margin-top: -15px;
}

.footer {
    background-color: #bcbcbc;
    border: 1px solid #000000;
    margin-top: 100px;
}